.App__add-task-total-count
   display: flex
   align-items: center
   justify-content: center
   width: 49px
   height: 24px
   margin-top: 8px
   background: #FEF6FF
   border-radius: 4px
   span
      color: #550DC9
      font-size: 12px
      font-weight: 400
      font-family: 'Open Sans', sans-serif
